*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
nav{
    position: relative;
    display: flex;
    width: 50%;
    font-size: 40px;
}
nav ul{
    width: 0%;
    flex-direction: column;
    list-style-type: none;
    transition: 0.5s all;
}
nav i:hover+ul{
    width: 100%;
}
nav ul li{
    background-color: rgba(61, 61, 61, 0.76);
    color: white;
}
nav ul li i{
    padding: 25px;
    margin-right: 40px;
    font-size: 30px;
}
nav ul li p{
    padding-left: 25px;
    overflow: hidden;
    font-size: 0;
    transition: 0.5s;
    background-color: rgb(33, 41, 38);
    margin-bottom: auto;
    margin-top: auto;
}
nav ul li:hover p{
    font-size: inherit;
    margin-bottom: auto;
    margin-top: auto;
}